body {background:  	; 
	background-attachment: scroll; 
	background-position: 75% 0%; 
	background-repeat: no-repeat;
	margin-top: 7cm;
	margin-left: 3cm;
	margin-right: 3cm;
  	font-family: "trebuchet ms", "verdana";
  	font-size: 12px;
  	}

h1	{font-size: 35pt;
	font-family: "Adobe Gothic Std B", "Baskerville Old Face", 
	font-weight: bold;
	background: #008500;
	letter-spacing: 0,5cm;
	color: white;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
	border-top:5px solid black;}


h2 {
        font-size:15px;
	margin:0;
	padding: 6px}



#menu {float: left;
		padding: 0;
		margin-bottom: 1px;
		color: #008500;
		background:white;
		width:180px;}
		
#menu ul {list-style: none;
			margin: 0;	
			padding: 0;	
			border: none;
			font-size:12px}
			
#menu li {border-bottom: 1px solid #008500;	
		    margin: 0;	}
		    
#menu li a {display: block;
		     padding: 10px 10px 5px 25px;
		     font-weight: bold;
		     color: black; 
		     text-decoration: none;}
		     
#menu li a:hover {border-right: 5px solid #3D021C;
		border-left: 5px solid #3D021C;
		color: #fff;
		font-weight: bold;
		background:#008500}
					
#menu h1 {font-size:20px;
			text-align:center;
			margin:0;
			padding:2px;
			background:#008500;
			border-top:5px solid black;
			color:white
			}			

#content {background:#ffffff;
		  color: black;
		  padding:10px;
		  font-size:12px;
		  text-align:justify;
		  margin:0 0px 0 190px;
		  }
#container{ 
		background:#ffffff;
		color: black;
		padding-top: 160px;
		margin:0px 270px 0px 0px;
		text-align: justify;
}
		  
img {	float: left;
	dispaly: inline-block;
	padding: 1px;
	border: 2px black solid;
	margin: 0px 6px 0px 0px;
	}


#tabela {
   border: 1px solid black;
   border-collapse: collapse;
   background-color: white;
   font-family: "Times New Roman";
   font-size: 10pt;
   text-align:justify;  
   }
   
#tabela td {
   border: 1px solid black;
   padding: 5.4pt;
}

#foot {
		  clear: both;
		  text-align:right;
		  background: #008500;
		  padding: 10px;
		  margin: 10px 0 2px 0;
		  border:1px solid white;
		  color:#fff;
		  font-size:9px;
}
